body{
    background-color: #04192B;
    color: #54F2F2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 30px;
}

button{
    background-color: #E9EDDE;
    color: #04192B;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
}

.calorie-target-section{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.food-entry-section, .show-total-button{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.total-calorie-display-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.total-calories{
    color: #E9EDDE;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.show-foods{
    display: inline;
}

.food-item{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 10px;
    margin-left: 25px;
}

.food-item ul{
    margin: 0;
    padding: 0;
    list-style: disc;
}

.dinner-item-input,.lunch-item-input,.breakfast-item-input{
    margin: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    border-radius: 5px;
    border: none;
}

.breakfast-item-calories-input,.lunch-item-calories-input,.dinner-item-calories-input{
    margin: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.calorie-target-input{
    margin: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;
    border-radius: 5px;
    border: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.progress-display-section {
    width: 300px;
    height: 30px;
    background-color: #333;
    border-radius: 15px;
    overflow: hidden;
    margin: 20px auto;
    position: relative;
}

.progress-bar {
    height: 100%;
    background-color: #54F2F2;
    width: 0%;
    transition: width 0.3s ease;
}

.progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #E9EDDE;
    font-size: 14px;
    font-weight: bold;
    z-index: 1;
}

.target-calorie{
    color: #E9EDDE;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal-message {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
  opacity: 0;
  transform: scale(0.8);
  transition: all 0.4s ease;
}

/* when active */
.goal-message.show {
  opacity: 1;
  transform: scale(1);
  color: green;
}